{% macro render_modules(modules) -%}
{% for entry in modules -%}
{% if entry.kind == "adf_group" %}
loadadf "{{ entry.adf_ref }}"
{% for lib in entry.libs -%}
add ADF:/{{ lib }}
{% endfor -%}
{% elif entry.kind == "from_source_rom" %}
add "$SOURCEROM" {{ entry.name }}
{% else -%}
add {{ entry.name }}
{% endif -%}
{% endfor -%}
{% endmacro -%}
